/*==== Reveal Image Style for _includes/reveal.html ====*/

.door {
	display: inline-block;
	height: 300px;
	width: 150px;
	background-color: #333333;
}
.dr-left, .dr-right {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  z-index: 999;
}
.dr-left {
  margin-right: -2px;
}
.dr-right {
  margin-left: -2px;
}
.dr-left.active {
	margin-left: -100px;
	margin-right: 100px;
}
.dr-right.active {
	margin-left: 100px;
	margin-right: -100px;
}
.reveal {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}

/*==== Main ====*/
